{{!-- <li>
	{{burgers}}

	<button data-id="{{id}}" data-notDevoured="{{notDevoured}}">
		{{#if notDevoured}}Eat Me!{{/if}}
	</button>

</li>
 --}}


{{!-- <li>
	{{burgers}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>
</li> --}}
